:root
{
    --page_background_color: #212121;
    --content_background_color: #424242;
    --main_header_color: #b71c1c;
    --menu_header_color: #d32f2f;
    --link_color: #00b0ff;
    --link_color_hover: #80d8ff;
}

body
{
    background-color: var(--page_background_color);
    margin: 50px 0;
    display: block;
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

a
{
    text-decoration: none;
}

div#content
{
    background-color: var(--content_background_color);
    margin: 0 5%;
}

header#main_header
{

    color: var(--main_header_color);
    text-align: center;
    padding: 16px 0;
    margin: 0;
}

header#main_header h1
{
    font-size: 48px;
    line-height: 64px;
    padding: 16px 0;
    margin: 0;
}

div.list_menu
{
    text-align: center;
    margin: 0;
    padding: 16px 0;
}

header.list_menu_header
{
    color: var(--menu_header_color);
}

header.list_menu_header h2
{
    font-size: 32px;
    line-height: 48px;
    padding: 1px 0;
    margin: 0;
}

div.list_menu .catalog_link
{
    color: var(--link_color);
    margin: 0;
}

div.list_menu .catalog_link:hover
{
    color: var(--link_color_hover);
}

div.list_menu .catalog_link h2
{
    font-size: 24px;
    line-height: 32px;
    padding: 8px 0;
    margin: 0;
}