div.data_form_and_inspector_container
{
    /* background-color: var(--content_background_color_lighter); */
    margin: 0 40px;
    padding: 16px 16px;
    box-shadow: 4px 0 4px var(--page_background_color), -4px 0 4px var(--page_background_color);
}

div.menu_bar
{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 0 0 20px 0;
}

div.menu_bar a.menu_option_active, div.menu_bar a.menu_option_inactive 
{
    font-size: 32px;
    line-height: 48px;
    padding: 0 0 5px 0;
    margin: 0;
    font-weight: 700;
}

div.menu_bar a.menu_option_active
{
    color: var(--link_color);
}

div.menu_bar a.menu_option_inactive
{
    color: var(--link_color_darker);
}

div.menu_bar a.menu_option_active:hover, div.menu_bar a.menu_option_inactive:hover
{
    color: var(--link_color_hover);
    padding: 0;
    border-style: solid;
    border-width: 0 0 5px 0;
    border-color: var(--link_color_hover);
}

div.data_form_container
{
    display: flex;
    justify-content: space-around;
}

form.data_form
{
    font-size: 20px;
}

form.data_form span.error_info
{
    display: none;
    font-weight: 700;
    color: var(--error_info);
}

form.data_form input
{
    height: 32px;
    font-size: 20px;
    border-style: solid;
    border-width: 1px;
    background-color: var(--content_background_color_darker);
    color: #ffffff;
    padding: 4px 8px;
}

form.data_form input.valid_text_input
{
    border-color: var(--link_color_darker);
}

form.data_form input.invalid_text_input
{
    border-color: var(--error_info);
}

form.data_form input.valid_text_input:hover, form.data_form input.valid_text_input:focus  
{
    border-color: var(--link_color);
    box-shadow: 2px 0 2px var(--link_color), -2px 0 2px var(--link_color);
}

form.data_form input.invalid_text_input:hover, form.data_form input.invalid_text_input:focus  
{
    border-color: var(--error_info);
    box-shadow: 2px 0 2px var(--error_info), -2px 0 2px var(--error_info);
}

form.data_form input.submit_button_inactive
{
    min-height: 42px;
}

form.data_form input.submit_button_active
{
    height: 42px;
    border-color: var(--link_color_darker);
    color: var(--link_color);
}

form.data_form input.submit_button_active:hover
{
    border-color: var(--link_color);
    box-shadow: 2px 0 2px var(--link_color), -2px 0 2px var(--link_color);
    color: var(--link_color_hover);
}

form.data_form select
{
    height: 42px;
    min-width: 80px;
    font-size: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--link_color_darker);
    background-color: var(--content_background_color_darker);
    color: #ffffff;
    padding: 4px 8px;
    text-align: center;
}

form.data_form select:hover, form.data_form select:focus  
{
    border-color: var(--link_color);
    box-shadow: 2px 0 2px var(--link_color), -2px 0 2px var(--link_color);
}

form.data_form input.submit_button
{
    box-sizing: content-box;
    margin: 16px 0;
}

div.data_table_container
{
    display: flex;
    justify-content: space-around;
}

table.data_table, table.data_table th, table.data_table td
{
    border-width: 1px;
    border-style: solid;
    border-color: #9E9E9E;
    border-spacing: 0;
}

table.data_table .header
{
    background-color: #98100f;
    font-size: 24px;
}

table.data_table .header th
{
    padding: 4px 10px;
}

table.data_table tbody td
{
    padding: 2px 10px;
    font-size: 20px;
}

table.data_table > tbody > tr:nth-child(odd) > td
{
    background-color: var(--content_background_color_lighter);
}

table.data_table > tbody > tr:nth-child(even) > td
{
    background-color: var(--content_background_color);
}

